/*search bar and related elements */
.search {

    /* adjust width and height of form */
    width: 750px;
    height: 45px;

    /* round edges */
    border-radius: 25px;

    /* adjust font size */
    font-size: 20px;

    /* adjust where typing cursor starts */
    padding-left: 50px;
}

/* add shadow around search box when hovered */
.search:hover {
    box-shadow: 2px 2px 5px grey;
}

.form-div {
    display:flex;
    justify-content:center;
    -ms-transform: translateY(700%);
    transform: translateY(700%)
}

/* remove outline around box when clicked */
.search:focus {
    outline:none;
}

/*search icon */
#searchIcon {
    width:2%;
    height:2%;

    /* adjust position */
    transform: translate(140%, 30%);
}

/* google search button */
.searchButton {
    
    /* set width and height */
    width: 150px;
    height: 35px;

    /* make visual adjustments */
    background-color:#e6e6e6;
    border: none;
    border-radius:5px;
}

/* add shadow on hover */
.searchButton:hover {
    box-shadow: 2px 1px 2px grey;
}

/* position div */
.search-div {
   
    display:flex;
    justify-content:center;
    transform: translateY( 1100%)
}