.search {

    /* adjust width and height of search box*/
    height:45px;
    width:750px;

    /*make edges rounded */
    border-radius:25px;
}

.form-div {
    /* center div */
    display:flex;
    justify-content:center;
}
