.search {

    /* adjust width and height of form */
    width: 750px;
    height: 45px;

    /* round edges */
    border-radius: 25px;
}

.form-div {
    display:flex;
    justify-content:center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}