{% extends "auctions/layout.html" %}

{% block body %}

    {% if searched == False %}
        <h1 style="margin-left: 20px">Search listings by category</h1>
        <br>
        <br>
        <div style="margin-left: 20px">
            <form method="POST">
                {% csrf_token %}
                <select name=categories class="form-select">
                    {% for option in options %}
                        <option value="{{option}}">
                            {% if option == "MagicalItems" %}
                                Magical Items
                            {% elif option == "MagicalFoods" %}
                                Magical Foods 
                            {% else %}
                                {{option}}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>
    {% else %}
        <h1 style="margin-left: 20px;">Results:</h1>
        <br>
        <br>
        <ul>
            {% for result in results %}
                <div style="margin-left: 20px">
                    <li style="font-size: 20px;"><a href="listing/result.title">{{result.title}}</a></li>
                    <ul>
                        <br>
                        <h6>Description:</h6>
                        <p>{{result.description}}</p>
                        <br>
                        <h6>Highest Offer:</h6>
                        <p>${{result.highestBid}}</p>
                        <br>
                        <h6>Original Price</h6>
                        <p>${{result.beginningBid}}</p>
                        <br>
                        <img src={{result.img}} alt="Picture of: {{result.title}}" style="width:50%; height:50%">
                    </ul> 
                </div>
                <br>
                <br>
            {% endfor %}
        </ul>

    {% endif %}


{% endblock %}