  
{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    <br>
    <ul>
        {% for listing in listings %}
            <li  style="font-size: 20px;" name="listingTitle"><a href='listing/{{listing.title}}'>{{listing.title}}</a></li>
                <ul>
                    <br>
                    <h6>Description:</h6>
                    <p>{{listing.description}}</p>
                    <br>
                    <h6>Highest Offer:</h6>
                    <p>${{listing.beginningBid}}</p>
                    <br>
                    <h6>Category:</h6>
                    <p>{{listing.category}}</p>
                    <img src={{listing.img}} alt="Picture of: {{listing.title}}" style="width:50%; height:50%">
                </ul> 
            <br>     
        {% endfor %}
    </ul>
    
{% endblock %}