
{% extends "auctions/layout.html" %}

{% block body %}

    <!--if the user has won the bid display message-->
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> Congratulations, you've purchased the item!
      </div>
    {% endif %}
    <br>

    <!--Ttile-->
    <h1 style="margin-left: 20px;">{{title}}</h1>
    <br>
    <!--Image-->
    <img src="{{image}}" alt="Image of {{title}}" style="width: 50%; height:50%; margin-left: 20px">
    <br>
    <br>
    <br>
    <!--Description-->
    <h3 style="margin-left: 20px;">Description:</h3>
    <p style="margin-left: 40px;">{{description}}</p>
    <br>
    <br>
    <div style="display: inline-flex; margin-left: 20px">
        <h3>Original Price:</h3>
        <p style="font-size:25px; margin-left: 15px">${{originalPrice}}</p>
    </div>
    <br>
    <br>
    <div style="display: inline-flex; margin-left: 20px">
        <h3>Current Highest Bid:</h3>
        <p style="font-size:25px; margin-left: 15px">${{currentHighestBid}}</p>
    </div>
    
{% endblock %}  