{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% endif %}

    <h1 style="margin-left: 20px">Items you are currently watching:</h1>
    <br>
    <br>
    <ul>
        {% for listing in listings %}
            <form method="POST">
                {% csrf_token %}
                <div style="display: inline-flex"> 
                    <li style="margin-left: 20px; font-size: 25px"><a href="listing/{{listing.page}}">{{listing.page}}</a></li>
                    <button class="btn btn-link" style="transform: translate(60%); color:darkred" type="submit"  name="watchElement" value="{{listing.page}}">Remove Item From Watchlist</button>
                </div>
                <br>
                <br>
                <br>
                
            </form>
        {% endfor %}
    </ul>

{% endblock %}