{% extends "network/layout.html" %}

{% block body %}

    <script src="network/helpers.js"></script>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}



    <div class="container p-4">
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                    <div class= "card h-100 p-4">
                        <!--the stuff for each of the posts-->
                        <h4>{{ post.poster }}</h4>
                        <hr>
                        <br>
                        <p>{{ post.content }}</p>
                        <br>
                        <p>Time posted: {{ post.timestamp }}</p>
                        <br>
                        <div style="display: inline-flex">
                            <button style="width: 60px" class="btn btn-primary" value={{post.id}} id="Like">Like</button>
                            <button style="width: 80px; margin-left:10px" class="btn btn-primary" value={{post.id}} id="Dislike">Dislike</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Pagination-->
    <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1" style="margin-right:10px">&laquo; First</a>
                    <a href="?page={{ post.previous_page_number }}" style="margin-right: 5px">Previous</a>
                {% endif %}
            
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>
    
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" style="margin-left: 5px">Next</a>
                    <a href="?page={{ posts.paginator.num_pages }}" style="margin-left: 10px">Last &raquo;</a>
                {% endif %}
            
            </span>
        </div>
    </div>

{% endblock %}