{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <p hidden value={{username}} id="currentUser">{{username}}</p>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    <!--header-->
    <br>
    <br>
    <div class="container" style="margin-left: 50px; display: inline-flex;" id="topDiv">
        <h1 id="username">{{viewing}}'s Profile!</h1>
        <h4 style="margin-left: 25px; margin-top: 10px" id="followers">Followers: {{followers}}</h4>
        <h4 style="margin-left: 45px; margin-top: 10px">Following: {{following}}</h4>
        <div id="buttonContainer">
            <button style="background-color: blue; margin-left: 20px; margin-top: 5px" class="btn btn-primary" id="follow">Follow</button>
        </div>
    </div>
    <hr>

    <!--display posts by user-->
    <div class="container p-4">
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                    <div class= "card h-100 p-4">
                        <!--the stuff for each of the posts-->
                        <div style="display:inline-flex">
                            <h4>{{ post.poster }}</h4>
                            
                            <!--display edit post button-->
                            {% if owner == True %}
                                <a href="/edit/{{post.poster}}/{{post.post_id}}" style="color:red; margin-top: 5px; margin-left: 40px">Edit post</a>
                            {% endif %}
                        </div>
                        <hr>
                        <br>
                        <p>{{ post.content }}</p>
                        <br>
                        <p>Time posted: {{ post.timestamp }}</p>
                        <br>
                        <div style="display: inline-flex">
                            <button style="width: 60px; background-color: blue" class="btn btn-primary" value="{{ post.post_id }}" id="like">Like</button>
                            <p style="margin-left: 20px;">{{ post.likes }} Likes</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}