{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <p hidden value={{username}} id="currentUser">{{username}}</p>

    <!--header-->
    <br>
    <br>
    <div class="container" style="margin-left: 50px; display: inline-flex;" id="topDiv">
        <h1 id="username">{{viewing}}'s Profile!</h1>
        <h4 style="margin-left: 25px; margin-top: 10px" id="followers">Followers: {{followers}}</h4>
        <h4 style="margin-left: 45px; margin-top: 10px">Following: {{following}}</h4>
        <div id="buttonContainer">
            <button style="background-color: blue; margin-left: 20px; margin-top: 5px" class="btn btn-primary" id="follow">Follow</button>
        </div>
    </div>
    <hr>
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}