{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <p hidden value={{username}} id="currentUser">{{username}}</p>

    <!--header-->
    <br>
    <br>
    <div class="container" style="margin-left: 50px; display: inline-flex;">
        <h1>{{viewing}}'s Profile!</h1>
        <h4 style="margin-left: 25px; margin-top: 10px">Followers: {{followers}}</h4>
        <h4 style="margin-left: 45px; margin-top: 10px">Followers: {{followers}}</h4>
    </div>
    <hr>
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}